.Login {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.Login__column-left {
  padding: 100px;
}
.Login__container {
  text-align: center;
  margin: auto 0;
}

.Login__input-container {
  margin: 10px 0;
  text-align: center;
}

.Login__input {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  text-align: center;
}

.Login__button {
  background-color: #7FC8F8;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.error-message {
  margin-top: 50px;
  color: white;
  padding: 10px;
  background-color: rgb(247, 129, 129);
  border-radius: 10px;
}