.Login {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
}

.Login__column-left {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: white;
}

.Login__title {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

.Login__container-left {
  text-align: center;
  margin: auto 0;
  width: 100%;
}

.Login__input-container {
  margin: 10px 0;
  text-align: center;
}

.Login__input:focus {
  outline-width: 0;
  border: 3px solid #7FC8F8;
}

.Login__input {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.Login__button {
  background-color: #7FC8F8;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.Login__error-container {
  text-align: left;
  
}
.Login__error-field {
  color: red;
}

.Login__error {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(253, 118, 118);
}

.signup-message {
  margin-bottom: 15px;
}

.Login__column-right {
  background-color: #7FC8F8;
  align-items: center;
  justify-content: center;
  display: none;
}

.Login__container-right {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.Login__container-right h1 {
  font-weight: 300;
}

.step-container {
  font-family: 'Permanent Marker', cursive;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 50px;
  padding: 15px;
  width: 100%;
}

.Latam {
  color: white;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

@media (min-width: 1024px) {
  .Login {
    grid-template-columns: 50% 50%;
  }
  .Login__column-left {
    padding: 6rem;
  }
  .Login__column-right {
    display: flex;
  }
  .Login__container-right {
    display: flex;
    padding: 0 2rem;
  }
}