.navbar {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.App__name {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}