.members {
  margin-top: 10px;
  padding: 15px;
}
.members ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.members__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.09);
  border-radius: 10px;
}
.members__container {
  padding: 20px 5px;
  border-radius: 10px;
  display: flex;
}


.members__avatar {
  border-radius: 50%;
  margin: 0 10px;
  object-fit: cover;
}

.members__new-avatar {
  cursor: pointer;
}