.Members {
  margin-top: 10px;
  padding: 15px;
}

.Members__container {
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.09);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  display: block;
}

.Members__add-container {
  cursor: pointer;
  text-align: center;
}

.Members__add-icon {
  background-color: lightgray;
  color: white;
  padding: 3rem;
  border-radius: 50%;
}
.Members__bench {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.members__avatar {
  border-radius: 50%;
}

.members__new-avatar {
  cursor: pointer;
}

.members__remove-container {
  color: white;
  background-color: rgb(208, 200, 200);
  border-radius: 50%;
  padding: 20px;
  margin: 0 50px;
}

.members__remove-image {
  width: 50px;
}

@media (min-width: 1024px) {
  .Members__container {
    display: flex;
  }
  .Members__bench {
    display: flex;
  }
}