.members {
  margin-top: 10px;
  padding: 15px;
}

.members__container {
  align-items: center;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.09);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  padding: 20px;
  width: 100%;
}

.members__container-add {
  cursor: pointer;
  margin-right: 10px;
  background-color: lightgray;
  color: white;
  padding: 3rem;
  border-radius: 50%;
}

.members__container-bench {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.members__avatar {
  border-radius: 50%;
}

.members__new-avatar {
  cursor: pointer;
}

.members__remove-container {
  color: white;
  background-color: rgb(208, 200, 200);
  border-radius: 50%;
  padding: 20px;
  margin: 0 50px;
}

.members__remove-image {
  width: 50px;
}