.draggable__member-container {
  text-align: center;
  margin: 0 10px;
}

.draggable__member-avatar {
  border-radius: 50%;
  object-fit: cover;
}

.draggable__member-name-container {
  text-align: center;
}

.draggable__member-name-input {
  text-align: center;
  padding: 0;
}

.draggable__member-remove {
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}