.draggable__member-container {
  text-align: center;
  margin: 0 10px;
}

.draggable__member-avatar {
  border-radius: 50%;
  object-fit: cover;
}

.draggable__member-name-container {
  text-align: center;
}

.DraggableMember__container .DraggableMember__input {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
}

.draggable__member-remove {
  color: lightgray;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .DraggableMember__container .DraggableMember__input {
      font-size: 0.8rem;
  }

}