.Signup {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.Signup__container-left {
  align-items: center;
  background-color: white;
  display: flex;
  padding: 100px;
}

.Signup__form-container {
  text-align: center;
  width: 100%;
}

.Signup__form-button {
  background-color: #7FC8F8;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.Signup__input-container {
  margin: 10px 0;
  text-align: center;
}

.Signup__input {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  text-align: center;
}


.Signup__title {
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;
}

.Signup__container-right {
  background-color: white;
  padding: 100px;
  text-align: center;
  display: flex;
  align-items: center;
}

.Signup__error {
  margin-top: 10px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  background-color: rgb(247, 129, 129);
  border-radius: 5px;
}

.Signup__error-container {
  text-align: left;
  
}
.Signup__error-field {
  color: red;
}

.Login__message {
  margin-bottom: 15px;
}