.Signup {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
}

.Signup__container-left {
  align-items: center;
  background-color: white;
  display: flex;
  padding: 1rem;
}

.Signup__title {
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
}

.Signup__form-container {
  text-align: center;
  width: 100%;
}

.Signup__password-label {
  font-weight: 300;
  font-size: small;
  text-align: right;
  color: gray;
}

.Signup__form-button {
  background-color: #7FC8F8;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.Signup__input-container {
  margin: 10px 0;
  text-align: center;
}

.Signup__input:focus {
  outline-width: 0;
  border: 3px solid #7FC8F8;
}

.Signup__input {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 10px;
  width: 100%;
  text-align: center;
}


.Signup__container-right {
  background-color: white;
  padding: 100px;
  text-align: center;
  align-items: center;
  display: none;
}

.Signup__error {
  margin-top: 10px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  background-color: rgb(247, 129, 129);
  border-radius: 5px;
}

.Signup__error-container {
  text-align: left;
  
}
.Signup__error-field {
  color: red;
}

.Login__message {
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  .Signup {
    grid-template-columns: 50% 50%;
  }
  .Signup__container-left {
    padding: 6rem;
  }
  .Signup__container-right {
    display: flex;
  }
}