.NewTask {
  box-sizing: border-box;
  padding: 10px;
}

.NewTask__header-container {
  border-radius: 10px;
  border: 2px dashed white;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
}

.NewTask__header-title {
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}

.NewTask__add-icon {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: white;
  margin: 0.4rem auto;
  padding: 1rem;
  width: fit-content;
}

@media(min-width: 1024px) {
  .NewTask__header-container {
    padding: 1.5rem;
  }
  .NewTask__add-icon {
    padding: 1.5rem;
  }
  .NewTask__header-title {
    font-size: 1rem;
    font-weight: 300;
  }
}