.NewTask {
  box-sizing: border-box;
  padding: 10px;
}

.NewTask__header-container {
  border-radius: 10px;
  border: 2px dashed white;
  background-color: rgba(127, 200, 248, 0.4);
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 25px;
}

.NewTask__header-title {
  font-weight: 400;
}